.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  gap: 5px;
  padding: 15px;
}

.modalName {
font-size: 18px;
margin-bottom: 10px;
}