.authorization {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.title {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
}

.paper {
  margin-top: 50px;
  margin-bottom: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 300px;
  overflow: hidden;
}

.error {
  color: red;
}

.language {
  margin-bottom: 10px;
}