.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
  z-index: 20;
}

.myModalContent {
  padding: 25px;
  background: white;
  border-radius: 20px;
  min-width: 250px;
  z-index: 21;
  min-height: 450px;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
