.usersListPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
  height: 50px;
}

.searchRow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
}

.check {
  margin-right: 0 !important;
}

.searchInput {
  font-size: 16px;
  width: 100%;
}

.topRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.topBtn {
  width: 46px;
  height: 46px;
}

.topPhone,
.topMail,
.topRole,
.topName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #707683;
  font-size: 14px;
  padding-left: 40px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(200, 200, 200);
}

.userBox {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.phone,
.mail,
.role,
.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #707683;
  font-size: 16px;
  width: 100%;
}

.name {
  color: #323c47;
  font-weight: 500;
}

.modalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
