.calendarWeek {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.completedRow {
  background: #ebeff2;
  border-radius: 3px;
  width: 100%;
  height: 6px;
}

.completedBar {
  background: #83dfd6;
  border-radius: 3px;
  height: 100%;
}

.selectedDay {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.selectDayRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selectWeekBtn {
  background-color: white;
  font-size: 25px;
  font-weight: 700px;
}

.selectDayCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.selectDay {
  color: #334d6e;
}

.selectDate {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #22a06b;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: #22a06b;
    color: white;
  }
}

.selectedDate {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #22a06b;
  border-radius: 50%;
  font-weight: 700;
  background-color: #22a06b;
  color: white;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(200, 200, 200);
}

.taskList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.taskCard {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.taskNameTypeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskName {
  font-weight: 500;
  font-size: 16px;
  color: #323c47;
}

.taskType {
  color: #90a0b7;
}

.dateRow {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dueDate {
  color: #707683;
}

.managerStatusRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manager {
  display: flex;
  align-items: center;
  gap: 5px;
}

.taskStatus {
  background: #22a06b;
  border-radius: 4px;
  padding: 5px;
  color: white;
}

.noTasks {
  font-size: 20px;
  font-weight: 700;
}