.calendarWeek {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.completedRow {
  background: #ebeff2;
  border-radius: 3px;
  width: 100%;
  height: 6px;
}

.completedBar {
  background: #83dfd6;
  border-radius: 3px;
  height: 100%;
}

.selectedDay {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.selectDayRow {
  display: flex;
  align-items: center;
}

.selectWeekBtn {
  padding-top: 10px;
  background-color: white;
  font-size: 25px;
  font-weight: 700px;
}

.selectDayCol {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.selectDay {
  color: #334d6e;
  font-size: 13px;
}

.selectDate {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #22a06b;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: #22a06b;
    color: white;
  }
}

.selectedDate {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #22a06b;
  border-radius: 50%;
  font-weight: 700;
  background-color: #22a06b;
  color: white;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(200, 200, 200);
}

.taskList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.taskCard {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.taskNameTypeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskName {
  font-weight: 500;
  font-size: 16px;
  color: #323c47;
}

.taskType {
  color: #90a0b7;
}

.dateRow {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #90a0b7;
}

.taskTextRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  &Labels {
    display: flex;
  }
}

.taskText {
  font-size: 16px;
}

.taskStatus {
  background: #22a06b;
  border-radius: 4px;
  padding: 5px;
  color: white;
  margin-right: 20px;
}

.missed {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 5px;
  color: white;
  margin-right: 20px;
}

.future {
  background-color: rgba(139, 179, 232, 0.5);
  border-radius: 4px;
  padding: 5px;
  color: white;
  margin-right: 20px;
}

.displayNone {
  display: none;
}

.noTasks {
  font-size: 20px;
  font-weight: 700;
}

.itemDataButton {
  background-color: inherit;
}

.itemDataIcon {
  cursor: pointer;
}

.loadingWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100%';
}
