.item {
  &Wrapper {
    border-radius: 5px;
    width: 1000px;
    height: 600px;
    background-color: teal;
    position: relative;
    margin: 0 auto;
  }
  &Resizable {
    position: absolute;
    border-radius: 5px;
    width: 80%;
    min-width: 20%;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
  }
  &ResizerTop {
    position: absolute;
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    height: 10px;
  }
  &ResizerBottom {
    position: absolute;
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 10px;
  }
}
