.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  padding: 0 5px;
  background-color: cadetblue;
}

.linksWrapper {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 0 10px;
}
