.item {
  &Resizable {
    overflow-y: hidden;
    border: 2px solid black;
    position: absolute;
    border-radius: 5px;
    width: 80%;
    min-width: 100px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    cursor: grab;
  }
  &ResizerTop {
    position: absolute;
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    height: 10px;
    z-index: 5;
  }
  &Draggable {
    width: 100%;
    min-height: 23px;
    height: 100%;
  }
  &ResizerBottom {
    position: absolute;
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: 5;
  }
  &Data {
    overflow: hidden;
    min-height: 40px;
    user-select: none;
    &FirstLine {
      min-width: 117px;
      display: flex;
      justify-content: space-between;
    }
    &Icon {
      cursor: pointer;
      margin-top: 5px;
      margin-right: 10px;
    }
    &Duration {
      display: inline-block;
      margin: 10px 3px 20px 10px;
      min-width: 80px;
    }
    &Title {
      text-overflow: ellipsis;
    }
    &Text {
      text-overflow: ellipsis;
    }
  }
}
