.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: flex-start;
  gap: 20px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-right: 20px;
}

.contentBox {
  height: 100%;
  width: 100%;
}
